* {
  font-family: Times, monospace, serif;
}
html {
  font-size: 18px;
}
#first {
  font-size: 16px;
}
#second {
  font-size: 2rem;
}
#third {
  font-size: 1.5rem;
}
span {
  font-size: 5em;
}
div {
  text-align: center;
}

.blue {
  color: rgb(0, 0, 255);
}
